In [60]:
import pandas as pd 
import seaborn as sns

import numpy as np
%matplotlib inline 
import matplotlib.pyplot as plt

In [61]:
df = pd.read_csv("processed_data.csv", encoding='latin1')

In [26]:
#label encoding gender column
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [27]:
# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Encode the "Gender of the patient" column
df['Gender of the patient'] = label_encoder.fit_transform(df['Gender of the patient'])

In [5]:
df.head()

,Age of the patient,Gender of the patient,Total Bilirubin,Direct Bilirubin,Alkphos Alkaline Phosphotase,Sgpt Alamine Aminotransferase,Sgot Aspartate Aminotransferase,Total Protiens,ALB Albumin,A/G Ratio Albumin and Globulin Ratio,Result
0,65.0,0,0.7,0.1,187.0,16.0,18.0,6.8,3.3,0.90,1
1,62.0,1,10.9,5.5,699.0,64.0,100.0,7.5,3.2,0.74,1
2,62.0,1,7.3,4.1,490.0,60.0,68.0,7.0,3.3,0.89,1
3,58.0,1,1.0,0.4,182.0,14.0,20.0,6.8,3.4,1.00,1
4,72.0,1,3.9,2.0,195.0,27.0,59.0,7.3,2.4,0.40,1

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30691 entries, 0 to 30690
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Age of the patient                    30689 non-null  float64
 1   Gender of the patient                 30691 non-null  int32
 2   Total Bilirubin                       30043 non-null  float64
 3   Direct Bilirubin                      30130 non-null  float64
 4   Alkphos Alkaline Phosphotase          29895 non-null  float64
 5   Sgpt Alamine Aminotransferase         30153 non-null  float64
 6   Sgot Aspartate Aminotransferase       30229 non-null  float64
 7   Total Protiens                        30228 non-null  float64
 8   ALB Albumin                           30197 non-null  float64
 9   A/G Ratio Albumin and Globulin Ratio  30132 non-null  float64
 10  Result                                30691 non-null  int64
dtypes: float64(9), int32(1), int64(1)
memory usage: 2.5 MB

In [29]:
df.dropna(subset=['Gender of the patient'], inplace=True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30691 entries, 0 to 30690
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Age of the patient                    30689 non-null  float64
 1   Gender of the patient                 30691 non-null  int32
 2   Total Bilirubin                       30043 non-null  float64
 3   Direct Bilirubin                      30130 non-null  float64
 4   Alkphos Alkaline Phosphotase          29895 non-null  float64
 5   Sgpt Alamine Aminotransferase         30153 non-null  float64
 6   Sgot Aspartate Aminotransferase       30229 non-null  float64
 7   Total Protiens                        30228 non-null  float64
 8   ALB Albumin                           30197 non-null  float64
 9   A/G Ratio Albumin and Globulin Ratio  30132 non-null  float64
 10  Result                                30691 non-null  int64
dtypes: float64(9), int32(1), int64(1)
memory usage: 2.5 MB

In [42]:
# Calculate median or mode
# Fill all missing values in the 'Total Bilirubin' column with NaN
df['Total Bilirubin'].fillna(np.nan, inplace=True)
median_total_bilirubin = df['Total Bilirubin'].median()  # or df['Total Bilirubin'].mode()[0] for mode

# Replace missing values with the calculated median or mode
df['Total Bilirubin'].fillna(median_total_bilirubin, inplace=True)

In [43]:
df['Direct Bilirubin'].fillna(np.nan, inplace=True)
# Calculate median or mode
median_direct_bilirubin = df['Direct Bilirubin'].median()  # or df['Total Bilirubin'].mode()[0] for mode

# Replace missing values with the calculated median or mode
df['Direct Bilirubin'].fillna(median_direct_bilirubin, inplace=True)

In [33]:
print(df.columns)

Index(['Age of the patient', 'Gender of the patient', 'Total Bilirubin',
       'Direct Bilirubin', 'Alkphos Alkaline Phosphotase',
       'Sgpt Alamine Aminotransferase', 'Sgot Aspartate Aminotransferase',
       'Total Protiens', 'ALB Albumin', 'A/G Ratio Albumin and Globulin Ratio',
       'Result'],
      dtype='object')

In [35]:
# Rename the column
df.rename(columns={'Alkphos Alkaline Phosphotase': 'Alkaline_Phosphotase'}, inplace=True)

In [45]:
# Calculate median or mode
df['Alkaline_Phosphotase'].fillna(np.nan, inplace=True)
median_Alkphos_Alkaline_Phosphotase = df['Alkaline_Phosphotase'].median()  # or df['Total Bilirubin'].mode()[0] for mode

# Replace missing values with the calculated median or mode
df['Alkaline_Phosphotase'].fillna(median_Alkphos_Alkaline_Phosphotase, inplace=True)

In [46]:
# Calculate median or mode
df['Sgpt Alamine Aminotransferase'].fillna(np.nan, inplace=True)
median_Sgpt_Alamine= df['Sgpt Alamine Aminotransferase'].median()  # or df['Total Bilirubin'].mode()[0] for mode

# Replace missing values with the calculated median or mode
df['Sgpt Alamine Aminotransferase'].fillna(median_Sgpt_Alamine, inplace=True)

In [54]:
# Calculate median or mode
df['Sgot Aspartate Aminotransferase'].fillna(np.nan, inplace=True)
median_Sgot_Aspartate= df['Sgot Aspartate Aminotransferase'].median()  # or df['Total Bilirubin'].mode()[0] for mode

# Replace missing values with the calculated median or mode
df['Sgpt Alamine Aminotransferase'].fillna(median_Sgot_Aspartate, inplace=True)

In [48]:
# Calculate median or mode
df['Total Protiens'].fillna(np.nan, inplace=True)
median_Total_Protiens= df['Total Protiens'].median()  # or df['Total Bilirubin'].mode()[0] for mode

# Replace missing values with the calculated median or mode
df['Total Protiens'].fillna(median_Total_Protiens, inplace=True)

In [49]:
# specific_rows = df.loc[20:30]
# specific_rows

In [50]:
# Calculate median or mode
df['ALB Albumin'].fillna(np.nan, inplace=True)
median_ALB_Albumin= df['ALB Albumin'].median()  # or df['Total Bilirubin'].mode()[0] for mode

# Replace missing values with the calculated median or mode
df['ALB Albumin'].fillna(median_ALB_Albumin, inplace=True)

In [51]:
# Calculate median or mode
df['A/G Ratio Albumin and Globulin Ratio'].fillna(np.nan, inplace=True)
median_AG_Ratio_Albumin= df['A/G Ratio Albumin and Globulin Ratio'].median()  # or df['Total Bilirubin'].mode()[0] for mode

# Replace missing values with the calculated median or mode
df['A/G Ratio Albumin and Globulin Ratio'].fillna(median_AG_Ratio_Albumin, inplace=True)

In [52]:
specific_rows = df.loc[20:30]
specific_rows

,Age of the patient,Gender of the patient,Total Bilirubin,Direct Bilirubin,Alkaline_Phosphotase,Sgpt Alamine Aminotransferase,Sgot Aspartate Aminotransferase,Total Protiens,ALB Albumin,A/G Ratio Albumin and Globulin Ratio,Result
20,51.0,1,2.2,1.0,610.0,17.0,28.0,7.3,2.6,0.55,1
21,51.0,1,2.9,1.3,482.0,22.0,NaN,7.0,2.4,0.50,1
22,62.0,1,1.0,3.0,542.0,116.0,66.0,6.4,3.1,0.90,1
23,40.0,2,1.9,1.0,231.0,16.0,55.0,4.3,1.6,0.60,1
24,63.0,1,0.9,0.2,194.0,52.0,45.0,6.0,3.9,1.85,2
25,34.0,1,4.1,2.0,289.0,875.0,731.0,5.0,2.7,1.10,1
26,34.0,1,4.1,2.0,289.0,875.0,731.0,5.0,2.7,1.10,1
27,34.0,1,6.2,3.0,240.0,1680.0,850.0,7.2,4.0,1.20,1
28,20.0,1,1.1,0.5,128.0,20.0,30.0,3.9,1.9,0.95,2
29,84.0,0,0.7,0.2,188.0,13.0,21.0,6.0,3.2,1.10,2
30,57.0,1,4.0,1.9,190.0,45.0,111.0,5.2,1.5,0.40,1

In [56]:
df.dropna(inplace=True)

In [62]:
df['Gender of the patient'] = df['Gender of the patient'].replace(2, 1)

In [63]:
df.to_csv("processed_data.csv", index=False)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30227 entries, 0 to 30690
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Age of the patient                    30227 non-null  float64
 1   Gender of the patient                 30227 non-null  int32
 2   Total Bilirubin                       30227 non-null  float64
 3   Direct Bilirubin                      30227 non-null  float64
 4   Alkaline_Phosphotase                  30227 non-null  float64
 5   Sgpt Alamine Aminotransferase         30227 non-null  float64
 6   Sgot Aspartate Aminotransferase       30227 non-null  float64
 7   Total Protiens                        30227 non-null  float64
 8   ALB Albumin                           30227 non-null  float64
 9   A/G Ratio Albumin and Globulin Ratio  30227 non-null  float64
 10  Result                                30227 non-null  int64
dtypes: float64(9), int32(1), int64(1)
memory usage: 2.7 MB